.consolaText {

    color: var(--color-main-light-blue);
    align-items: top;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 16px;
    height: fit-content;
    padding: 8px;
}

.consolaText * {
    margin: 0;

}

.consolaText strong {
    color: var(--color-main-orange);
}

.consolaText .preLine {
    width: fit-content;
}

.consolaText .preLine::before {
    display: block;
    margin-right: 24px;
    align-items: center;
    font-size: 24px;
    opacity: 60%;
    content: ">";
}